.cardContainer{
    border-radius: 10px;
    width: 20%;
    height: 600px;
    background-color: white;
    transition: all 0.3s;
    cursor:pointer;
}

.cardContainer:hover{
    transform: scale(1.1)
}

.cardheader{
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 115px;
    transition: all 0.3s;
}
.cardheader-selected{
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 115px;
    background-color: #3f4e6b;
    transition: all 0.3s;
}

.cardHeaderText{
    font-size: 35px;
    color: #3f4e6b;
    margin: auto;
    transition: all 0.3s;
}

.cardHeaderText-selected{
    font-size: 35px;
    color: white;
    margin: auto;
    transition: all 0.3s;
}

.cardPriceContainer{
    height: 65px;
    background-color: #3f4e6b;
    display: flex;
    transition: all 0.3s;
}

.cardPriceContainer-selected{
    height: 65px;
    background-color: #f88346;
    display: flex;
    transition: all 0.3s;
}

.cardInfoContainer{
    padding: 18px 0;
    display: flex;
    height: calc(100% - 298px);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.infoKey{
    color: #3f4e6b;
    font-size: 20px;
    font-weight: bold
}

.infoValue{
    font-size: 20px;
    color: rgba(0,0,0,0.5);
    font-weight: 600
}

.cardButton{
    display: flex;
height: 60px;
width: 80%;
border: 2px solid #3f4e6b;
border-radius: 5px;
margin: 0 auto;
transition: all 0.3s;
}

.cardButton-selected{
    display: flex;
height: 60px;
width: 80%;
background-color: #f88346;
border-radius: 5px;
margin: 0 auto;
transition: all 0.3s;
}

.cardButtonText{
    font-weight: 600;
    color: #3f4e6b;
    font-size: 21px;
    margin: auto;
    transition: all 0.3s;
}

.cardButtonText-selected{
    font-weight: 600;
    color: #fff;
    font-size: 21px;
    margin: auto;
    transition: all 0.3s;
}

.cardPriceTextsContainer{
    margin: auto
}

.cardPriceText1{
    font-size: 23px;
    font-weight: 700;
    color: white;
}

.cardPriceText2{
    font-size: 23px;
    font-weight: 700;
    color: rgba(255,255,255,0.3);
}

.cardPriceText2-selected{
    font-size: 23px;
    font-weight: 700;
    color: #fff;
}

@media only screen and (max-width: 1024px) {
  .cardContainer{
    width: 46%;
    margin: 20px 0;
  }
  }

  @media only screen and (max-width: 480px) {
    .cardContainer{
      width: 80%;
      margin: 20px 0;
    }
    }