.content{
    display: flex;
    flex-wrap: wrap;
    /* width: 100vw; */
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    padding: 0 4%;
    min-width: 320px;
}
@media only screen and (max-width: 1024px) {
    .content{
        padding: 4% 4%
    }
    }

@media only screen and (max-width: 480px) {
    .content{
        padding: 7% 4%
     }

    }
 